<footer>
    <h3>Sponsors</h3>
    <a href="sponsors.html#astun"><img src="images/astun_small.png" alt="Astun" title="Astun" /></a>
    <a href="sponsors.html#google"><img src="images/google_small.png" alt="Google" title="Google" /></a>
    <a href="sponsors.html#thinkWhere"><img src="images/thinkWhere_logo.png" alt="thinkWhere" title="thinkWhere" /></a>
    <a href="sponsors.html#what3words"><img src="images/what3words_logo.png" alt="what3words" title="what3words" /></a>
    <a href="sponsors.html#garsdaledesign"><img src="images/garsdale_small.jpg" alt="Garsdale Design" title="Garsdale Design" /></a>
    <a href="sponsors.html#anguscouncil"><img src="images/angus_council_logo.png" alt="Angus Council" title="Angus Council" /></a>
  <p>This project is maintained by <a href="https://github.com/osgeouk">osgeouk</a></p>
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
