<div class="sponsors">
    <h3>Sponsors</h3>
<div class="major">
    <a href="sponsors.html#ordnancesurvey"><img src="images/os_logo.png" alt="Ordnance Survey" title="Ordnance Survey" /></a>
    <a href="sponsors.html#astun"><img src="images/astun_small.png" alt="Astun" title="Astun" /></a>
    <a href="sponsors.html#esriuk"><img src="images/esri_logo.png" alt="Esri UK" title="Esri UK" /></a>
    <a href="sponsors.html#google"><img src="images/google_small.png" alt="Google" title="Google" /></a>
    <a href="sponsors.html#scisys"><img src="images/scisys_logo.png" alt="SCISYS" title="SCISYS" /></a>
    <a href="sponsors.html#thinkWhere"><img src="images/thinkWhere_logo.png" alt="thinkWhere" title="thinkWhere" /></a>
    <a href="sponsors.html#what3words"><img src="images/what3words_logo.png" alt="what3words" title="what3words" /></a>    
    <a href="sponsors.html#2ndQuadrant"><img src="images/2ndq_logo_sm.png" alt="2ndQuadrant" title="2ndQuadrant" /></a>
</div>
<div class="minor">
    <a href="sponsors.html#anguscouncil"><img src="images/angus_council_logo.png" alt="Angus Council" title="Angus Council" /></a>
    <a href="sponsors.html#garsdaledesign"><img src="images/garsdale_small.jpg" alt="Garsdale Design" title="Garsdale Design" /></a>
    <a href="sponsors.html#geoger"><img src="images/geoger_icon.png" alt="Geoger" title="Geoger" /></a>
    <a href="sponsors.html#nautoguide"><img src="images/nautoguide-logo-sm.png" alt="NautoGuide" title="Nautoguide" /></a>
</div>
</div>
