header h1 {
    background-image: url(../images/osgeouk.png);
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 32px;
}

body.foss4guk2016 footer img {
    height: 40px;
    padding: 1em;
}
