<!doctype html>
<html>
    {% include head.html %}
  <body class="foss4guk2018">
    <div class="wrapper">
      <header>
        <h1><a href="/">OSGeo:UK</a></h1>
        <p>OSGeo UK Local Chapter</p>
	 {% include sponsors_foss4guk2018.html %} 
<!-- <object id="sailingship" type="image/svg+xml" data="/images/animatedship.svg" ></object> -->

      </header>
      <section>
          {{ content }}
      </section>
    </div>

<div class="wrapper foot">
      {% include footer_foss4guk2018.html %}
</div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
